# Node.js dependencies
node_modules/
npm-debug.log*

# Environment variables
.env

# Logs
*.log

# Docker volumes (optional)
*.pid
*.sock

# OS-specific
.DS_Store

# Editor-specific
.vscode/
.idea/

#massive corpus xml directory
corpus/
